.card__button--orange {
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  background-color: white;
  padding: 12px 30px;
  border-radius: 27px;
  text-decoration: none;
  color: #e38826;
  border: 2px solid white;
  font-family: "Lexend Deca", sans-serif; }
  .card__button--orange:hover, .card__button--orange:focus {
    background-color: #e38826;
    color: white; }

.card__button--dark-cyan {
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  background-color: white;
  padding: 12px 30px;
  border-radius: 27px;
  text-decoration: none;
  color: #006970;
  border: 2px solid white;
  font-family: "Lexend Deca", sans-serif; }
  .card__button--dark-cyan:hover, .card__button--dark-cyan:focus {
    background-color: #006970;
    color: white; }

.card__button--darker-cyan {
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  background-color: white;
  padding: 12px 30px;
  border-radius: 27px;
  text-decoration: none;
  color: #004241;
  border: 2px solid white;
  font-family: "Lexend Deca", sans-serif; }
  .card__button--darker-cyan:hover, .card__button--darker-cyan:focus {
    background-color: #004241;
    color: white; }
