@import "colors.scss";

// defining a button mixin for 3-column challenge
@mixin button($background-color) {
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    background-color: white;
    padding: 12px 30px;
    border-radius: 27px;
    text-decoration: none;
    color: $background-color;
    border: 2px solid white;
    font-family: "Lexend Deca", sans-serif;

    &:hover,
    &:focus {
        background-color: $background-color;
        color: white;
    }
}

.card__button--orange {
    @include button($bright-orange);
}

.card__button--dark-cyan {
    @include button($dark-cyan);
}

.card__button--darker-cyan {
    @include button($darker-cyan);
}
