@import "colors.scss";

.cards {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.card {
    padding: 60px 50px;
    color: white;
    h1 {
        font-family: "Big Shoulders Display", cursive;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 30px 0px;
        opacity: 0.9;
    }
    p {
        line-height: 25px;
        font-family: "Lexend Deca", sans-serif;
        margin-bottom: 100px;
        opacity: 1;
        font-size: 15px;
        opacity: 0.8;
    }

    &:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &:nth-child(3) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@mixin card($background-color) {
    background-color: $background-color;
}

.card--orange {
    @include card($bright-orange);
}

.card--dark-cyan {
    @include card($dark-cyan);
}

.card--darker-cyan {
    @include card($darker-cyan);
}

@media only screen and (max-width: 1000px) {
    .cards {
        padding: 25px;
        flex-direction: column;
    }

    .card {
        p {
            margin-bottom: 50px;
        }

        &:nth-child(1) {
            border-radius: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:nth-child(3) {
            border-radius: 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}
