@import 'colors.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $light-gray;
}

@import 'button.scss';
@import 'card.scss';